:root {
  --primary-font: 'Poppins', sans-serif;
  --secondary-font: 'Baloo Chettan 2', cursive;
  --yellow: #FEEC72;
  --light-yellow: #FFF5B8;
  --pink: #FF7ABC;
  --light-pink: #FFA2D0;
  --green: #32E27C;
  --light-green: #C1F6D8;
  --blue: #6685F2;
  --light-blue: #88A2FF;
  --lighter-blue: #E7F9FF;
  --charcoal: #263238;
  --primary-blue: #2F1FE8;
  --lilac: #ECCEFF;
  --lilac-gray: #ebebf4;
}


body {
  font-family: var(--primary-font);
  font-weight: 300;
  color: var(--charcoal);
  margin: 0;
}

p {
  font-size: 1.1em;
}

h1, h2, .tablinks {
  font-family: var(--secondary-font);
}

h1 {
  font-size: 2.7em;
  line-height: 1.2em;
}

#how h1, #who h1, #contact h1 {
  padding-top: 0.5em;
}

h3, strong {
  font-weight: 500;
}

h4 {
  font-weight: 300;
  line-height: 1.5em;
}

.line-height {
  line-height: 1.6em;
}

.little-text {
  font-size: 0.8em;
  line-height: 1em;
}

.center {
  text-align: center;
}

.right {
  float: right;
}

.white {
  color:  white;
}

.blue {
  color: var(--primary-blue);
}

.green {
  color: var(--green);
}

.light-green {
  color: var(--light-green);
}

.light-blue {
  color: var(--light-blue);
}

.charcoal {
  color: var(--charcoal);
}

.bg-white {
  background-color: white;
}

.bg-light-yellow {
  background-color: var(--light-yellow);
}

.bg-pink {
  background-color: var(--light-pink);
}

.bg-green {
  background-color: var(--green);
}

.bg-blue {
  background-color: var(--blue);
}

.bg-light-blue {
  background-color: var(--light-blue);
}

.bg-lighter-blue {
  background-color: var(--lighter-blue);
}

.bg-lilac {
  background-color: var(--lilac);
}

.bg-lilac-gray {
  background-color: var(--lilac-gray);
}

.bg-cover {
  background-size: cover;
}

.bg-center {
  background-position: center;
  background-repeat: no-repeat;
}

.p-body, .p-1 {
  padding: 1em;
}

.pl-1 {
  padding-left: 1em;
}

.p-2 {
  padding: 2em;
}

.pb-2 {
  padding-bottom: 2em;
}

.ml-2 {
  margin-left: 2em;
}

.w-100 {
  width: 80%;
}

.btn {
  font-family: var(--primary-font);
  color: var(--charcoal);
  background-color: var(--green);
  margin: 1em auto;
  text-align: center;
  text-decoration: none;
  border: none;
  max-width: 8em;
}

.btn:hover, .tab button.active {
  color: white;
  background-color: var(--primary-blue);
}

.btn-lg {
  display: block;
  padding: 1em 2em;
  font-size: 1.2em;
  border-radius: 40px;
}

.btn-sm {
  padding: 0.7em 1.5em;
  border-radius: 60px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.logo {
  width: 150px;
  margin: 1em 2em 1em 1em;
}

.icon-menu {
  display: inline-block;
  height: 48px;
  padding-right: 1em;
}

.navlinks {
  display: none;
}

/* Modal menu */
.navlink {
  line-height: 3em;
}

.navlink:hover {
  font-weight: 700;
  border-bottom: 2px solid white;
  padding-bottom: 0.3em;
}

.modal {
  font-family: var(--secondary-font);
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: var(--lighter-blue);
  background-image: linear-gradient(to bottom, rgba(231, 249, 255, 0.70), rgba(231, 249, 255, 0.70)),
    url('../images/logo.png');
  background-size: contain;
}

.modal-content {
  margin: 15% auto;
  padding: 4em 2em;
  text-align: center;
}

.modal-content a {
  font-size: 1.5em;
  color: var(--primary-blue);
  text-decoration: none;
  font-weight: 500;
  line-height: 3em;
}

.close {
  float: right;
  padding-top: 0.35em;
}

.close:hover, .menu:hover {
  cursor: pointer;
  font-weight: bold;
}

/* Main */
.main {
  background-color: var(--blue);
  background-image: linear-gradient(to bottom, rgba(136, 162, 255, 0.70), rgba(136, 162, 255, 0.70)),
    url('../images/tanderos-sm.png');
}

.main-content {
  padding: 7em 0 5em 0;
}

.main h3 {
  margin-top: -2em;
}

.benefit, .value {
  padding: 1.5em;
  margin: 1em;
}

.value img {
  height: 250px;
  display: block;
  margin: 0 auto;
}

.benefits-grid, .values-grid {
  display: none;
}

/*Community*/
#community {
  background-image: url("../images/bg-green.svg");
}

.testimonial-pic {
  height: 180px;
}

.community-box {
  margin-top: -1.3em;
}

.community-logo {
  display: block;
  margin: 0 auto;
  height: 40px;
}


/*How*/
#how span {
  border-radius: 50%;
  padding: 0.3em 0.7em;
  font-weight: bold;
  opacity: 0.9;
  margin-left: 0.3em;
}

#how h3 {
  margin: -1em 0 2em 0;
  font-weight: 300;
}

#how span:first-child {
  padding: 0.3em 0.8em;
}

.how-grid {
  display: none;
}

.cellphone {
  display: block;
  height: 400px;
  margin: 0 auto;
}

.text-spacing {
  letter-spacing: 0.1em;
}

/*Who*/
#who {
  background-image: url("../images/bg-pink.svg");
}

.who-main {
  height: 380px;
  margin: 0;
  padding: 0;
}

.who-main h1 {
  margin-top: 2em;
}

.who-mission h2 {
  line-height: 1.5em;
}

.who-mission {
  margin-top: -3em;
}

.who-pic {
  background-image: url('../images/who.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.equipo-pic {
  height: 180px;
  width: 180px;
}

.equipo-box {
  display: inline-block;
  margin: 0.5em;
}

/*Work*/
.work-pic {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)),
  url('../images/who.jpg');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
}

.team-pic {
  height: 200px;
  display: block;
  margin: 0 auto;
}

.position {
  padding: 1em 0;
  margin: 0;
  display: block;
}

/*Contact*/
#contact img {
  display: block;
  margin: 0 auto;
}

/*Chicharito*/
.chicharito-flex {
  padding-bottom: 2em;
}

.chicharito {
  background-color: var(--charcoal);
}

.chat img, {
  height: 30px;
}

.chat a {
  font-family: var(--secondary-font);
  font-size: 1.3em;
  text-decoration: none;
/*  border-bottom: solid 1px;*/
}

/*Footer*/
footer img {
  height: 40px;
  margin: 0.5em;
}

/* QA */
/* tab */
.qa-title {
  padding-top: 1em;
}

.tab {
  overflow: hidden;
  text-align: center;
}

.tablinks {
  font-size: 1.2em;
}

/* tab button */
.tab button {
  background-color: var(--green);
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  margin: 0.2em;
  border-radius: 30px;
  transition: 0.3s;
}

.tab button:hover {
  background-color: var(--blue);
}

/*tab content */
.tabcontent {
  display: none;
  border: 1px solid #ccc;
  border-top: none;
}

.tabcontent h2 {
  margin-left: 0.5em;
}

.tabcontent-flex {
  display: flex;
}

/* Privacy */
.privacy {
  padding-top: 4em;
}

@media only screen and (min-width: 992px) {
  nav {
    display: flex;
  }

  .navlinks {
    display: inline;
  }

  .navlinks a {
    margin: 2em 1em;
    color: var(--charcoal);
    text-decoration: none;
  }

  .navlinks:last-child {
    margin-right: 3em;
  }

  .navlinks a:hover {
    font-weight: 400;
  }

  .navlinks a:active {
    color: var(--primary-blue);
  }

  .logo {
    width: 200px;
  }

  .icon-menu {
    display: none;
  }

  h1 {
    font-size: 3em;
    margin-bottom: -0.3em;
  }

  .p-body {
    padding: 2em;
  }

  .main {
    height: 480px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-image: none;
    margin: 0;
    padding: 0;
  }

  .main h3 {
    margin: 0.5em;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3em 0.5em 1.5em 3em;
  }

  .main-pic {
    background-image: url('../images/tanderos_bg.png');
    background-position: center bottom;
    background-size: contain;
  }

  .phrase-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2em 0;
  }

  .phrase-grid h2, .who-main h2 {
    font-size: 2em;
    margin: auto 0;
  }

  .phrase {
    border-radius: 70% 40% / 30% 80%;;
  }

  .values-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;
  }

  .benefits-grid, .community-grid, .who-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1em;
  }

  #community h1 {
    padding-bottom: 1em;
  }

  .community-box {
    width: 90%;
  }

  #how {
    background-size: contain;
  }

  #how h3 {
    margin: 1.5em 0 -1.2em 0;
  }

  .how-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 1em;
  }

  .cel-box {
    margin: 0 auto;
  }

  .cel-box:hover {
    transform: scale(1.1);
  }

  .cellphone {
    padding-top: 3em;
  }

  /* Who */
  .who-main {
    height: 500px;
    margin: 0;
    padding: 0;
  }

  .who-main h1 {
    margin-top: 2em;
  }

  .who-mission h2 {
    font-size: 2em;
    line-height: 1.5em;
  }

  .who-mission {
    margin-top: -3em;
  }

  .who-pic {
    background-image: url('../images/who.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  .equipo-box {
    margin: 2em 0.5em 0.5em 0.5em;
  }

  #contact h1 {
    margin-bottom: 0.3em;
    margin-top: 0em;
  }

  .contact-grid {
    width: 80%;
    font-size: 1.2em;
    margin: 0 auto;
  }

  .chicharito-flex {
    display: flex;
    justify-content: center;
    padding-bottom: 0;
  }

  .chicharito-flex h2 {
    margin-right: 2em;
  }

  .qa-title {
    padding: 1em;
  }

  .tab button {
    padding: 14px 30px;
  }

  .tablinks {
    font-size: 1.5em;
  }

  .tabcontent {
    padding: 1em 8em;
  }

  .privacy {
    padding-top: 5em;
  }

  /* Work */
  .team-quote {
    display: flex;
  }

  .team-pic {
    margin-right: 1.5em;
  }
}

@media only screen and (min-width: 1200px) {
  h1 {
    font-size: 3.7em;
  }

  nav a {
    font-size: 1.1em;
  }

  .main {
    height: 600px;
    padding: 0;
  }

  .main h3 {
    font-size: 1.3em;
    margin-top: 1em;
  }

  .main-content {
    padding: 1.5em 0.5em 1.5em 3em;
  }

  .values-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .line-break {
    display: block;
  }
}
