:root {
  --primary-font: 'Inter', sans-serif;
  --secondary-font: 'Baloo Chettan 2', cursive;
  --yellow: #FEEC72;
  --light-yellow: #FFF5B8;
  --pink: #FF7ABC;
  --light-pink: #FFD7EB;
  --green: #32E27C;
  --light-green: #C1F6D8;
  --blue: #6685F2;
  --light-blue: #0033EA;
  --charcoal: #263238;
  --primary-blue: #2F1FE8;
  --aqua: #05FCD0;
}

body {
  font-family: var(--primary-font);
  font-weight: 300;
  color: var(--charcoal);
  margin: 0;
}

h1, h2 {
  font-family: var(--secondary-font);
}

h1 {
  font-size: 2em;
  color: var(--green);
}

h3, strong {
  font-weight: 500;
}

.little-text {
  font-size: 0.8em;
}

.center {
  text-align: center;
}

.right {
  float: right;
}

.white {
  color:  white;
}

.green {
  color: var(--green);
}

.bg-yellow {
  background-color: var(--yellow);
}

.bg-pink {
  background-color: var(--pink);
}

.bg-green {
  background-color: var(--green);
}

.bg-blue {
  background-color: var(--blue);
}

.bg-cover {
  background-position: center;
  background-size: cover;
}

.p-body, .p-1 {
  padding: 1em;
}

.p-2 {
  padding: 2em;
}

.pb-2 {
  padding-bottom: 2em;
}

.btn {
  display: block;
  text-align: center;
  text-decoration: none;
  border: none;
  padding: 1em;
  border-radius: 30px;
  box-shadow: 3px 3px 4px #d6d6d6;
  max-width: 190px;
}

.btn-dark {
  display: block;
  font-family: var(--secondary-font);
  color: var(--yellow);
  line-height: 1em;
  background-color: var(--charcoal);
  font-size: 1.5em;
  box-shadow: 3px 3px 4px #d6d6d6;
  margin: 0 auto;
}

.btn-light {
  display: block;
  font-family: var(--primary-font);
  color: var(--charcoal);
  background-color: var(--aqua);
  font-size: 1.2em;
  box-shadow: 2px 2px 4px var(--charcoal);
  margin: 2em auto;
}

.icon {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  padding: 0.5em;
  margin: 1em;
}

.icon img {
  height: 20px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}

nav {
  display: flex;
}

nav img {
  width: 150px;
  margin: 1em 2em 1em 1em;
}

nav a {
  display: none;
}

#benefits {
  background-color: var(--primary-blue);
}

#benefits h2 {
  margin-bottom: -0.4em;
  line-height: 1em;
}

#community {
  background-image: url("images/bg-green.svg");
/*
  background-size: contain;
  background-repeat: no-repeat;
  */
}

.community-box {
  max-width: 360px;
}

#how {
  background-image: url("images/bg-how.png");
}

.how-box {
  height: 80px;
  width: 80px;
  padding: 0.8em;
  line-height: 0.5em;
  border-radius: 2px;
}

.how-box-2 {
  height: 80px;
  width: 240px;
  padding: 0.8em;
  line-height: 0.5em;
  border-radius: 2px;
}

.how-box img, .how-box-2 img {
  height: 20px;
}

.cellphone {
  display: block;
  height: 400px;
  margin: 0 auto;
}

.text-spacing {
  letter-spacing: 0.1em;
}

.coming-soon-flex {
  padding-bottom: 2em;
}

#who {
  background-image: url("images/bg-pink.svg");
}

.who-box {
  line-height: 0.5em;

}

.who-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.coming-soon {
  background-color: var(--charcoal);
}

.coming-soon img {
  width: 160px;
}

footer img {
  height: 40px;
  margin: 0.5em;
}

@media only screen and (min-width: 992px) {
  nav img {
    width: 200px;
    margin: 1em 2em 1em 1em;
  }

  nav a {
    display: block;
    text-decoration: none;
    color: var(--charcoal);
    margin: 2em 1em 1em 1em;
  }

  h1 {
    font-size: 3em;
    color: var(--green);
  }

  .p-body {
    padding: 2em;
  }

  .how-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .cellphone {
    height: 600px;
  }

  .how-box-flex {
    display: flex;
    justify-content: space-around;
  }

  .who-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .coming-soon-flex {
    display: flex;
    justify-content: center;
    padding-bottom: 0;
  }

  .coming-soon-flex h2 {
    margin-right: 2em;
  }
}


